@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.title {
	font-family: 'Open Sans Condensed', sans-serif;
}

.sidebar {
	width: 100%;
	height: 25vh;
	overflow: hidden;
	margin: 0 auto
}

.sidebar ul {
	overflow: auto;
	text-align: center;
}

.sidebar ul li {
	display: inline-block;
	margin: 0 1.3%
}

.sidebar .cat {
	text-align: center;
	cursor: pointer;
}

.sidebar .catname {
	display: block;
}

.sidebar .catPhoto {
	max-width: 150px;
	box-shadow: 5px 10px 20px #888888;
}

.main {
	width: 100%;
	height: 75vh;
}

.main .cat {
	padding: 1%;
}

.main .cat .catPhoto {
	max-height: 480px;
	max-width: 60%;
	margin: 0 auto;
	display: block;
	box-shadow: 5px 10px 60px #888888;
}

.main .cat .catname {
	display: block;
	text-align: center;
	padding: 1% 0;
}