@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:700');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.title {
	font-family: 'Open Sans Condensed', sans-serif;
}

.catPhoto {
    width: 49%;
    text-align: center;
    padding: 1% 0;
    display: inline-block;
    vertical-align: top;
}

.catPhoto a.catXuxa {
	cursor: pointer;
}

.catPhoto a.catXuxa img {
	max-width: 350px;
}

.catPhoto .resultado {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	display: none;
}